<div class="grid-container">
    <div class="header">
        <div class="box1">
            <img src="../../../assets/img/ARC.jpg" height="120px" width="160px" alt="">
        </div>
        <!-- <div class="box2">
            Two
        </div>
        <div class="box3">
            Three
        </div> -->
    </div>
    <div class="landing">
        <div class="carousel">
            Carousel over here
        </div>
        <div class="banner">
            Banner over here
        </div>
        <div class="brands">
            Brands over here
        </div>
    </div>
    <div class="footer">
        <div class="light">
            <div class="inline-buttons">
                Butts over here
            </div>
        </div>
        <div class="dark">
            Copyright text here
        </div>
    </div>
</div>