.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'landing'
    'footer'
    ;
    gap: 0.1em;
}
.header {
    grid-area: header;
    height: 14vh;
    display: flex;
    color: white;
    background-color: #252830;
    max-height: 130px;
}
.landing {
    grid-area: landing;
    height: 90vh;
    background-color: #f8f9fa!important;
}
.footer {
    grid-area: footer;
    height: 16vh;
    max-height: 150px;
}
.footer .light {
    height: 85%;
}
.footer .dark {
    height: 15%;
    color: #adb5bd;
    background-color: #252830;
}